<section class="testimonials section" id="testimonials">
    <div class="container">
      <div class="section-header">
        <h3 class="title" data-title="Qué dicen de nosotros">
          Testimonios
        </h3>
      </div>
  
      <div class="testi-content grid-2">
        <div class="column-1 reviews">
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide review">
                <i class="fas fa-quote-left quote"></i>
                <div class="rate">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>
  
                <p class="review-text">
                "Mi proceso en Cross Way Center fué excepcional de principio a fin, en el transcurso  de los niveles se brindó cada material, herramienta y espacio para el correcto aprendizaje, la calidad de maestros y las temáticas impartidas fueron impecables, cualquier tipo de duda fue resuelta en su momento y la atención que los docentes prestaban a cada proceso de cada estudiante fue muy bueno, ello demostró el compromiso que se tiene con cada individuo."
                </p>
  
                <div class="review-info">
                  <h3 class="review-name">Santiago Hernandez</h3>
                  <h5 class="review-job">Estudiante</h5>
                </div>
              </div>
  
              <div class="swiper-slide review">
                <i class="fas fa-quote-left quote"></i>
                <div class="rate">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>
  
                <p class="review-text">
                "A mi me gustó estudiar inglés en Cross Way Center por varias razones, me gustó el inglés por la enseñanza que dan en la academia. La enseñanza de los profesores es muy buena ya que responden todas las dudas que tengamos y eso nos ayuda más a entender el inglés, los ejercicios que hacen, nos ayudan al conocimiento y nos divierten."
                </p>
  
                <div class="review-info">
                  <h3 class="review-name">Andres Hinestroza</h3>
                  <h5 class="review-job">Estudiante</h5>
                </div>
              </div>
            </div>
  
            <div class="review-nav swiper-button-prev">
              <i class="fas fa-long-arrow-alt-left"></i>
            </div>
            <div class="review-nav swiper-button-next">
              <i class="fas fa-long-arrow-alt-right"></i>
            </div>
          </div>
        </div>
  
        <div class="column-2 image">
          <img src="img/testi.svg" alt="" class="img-element" />
        </div>
      </div>
    </div>
  </section>