<section class="testimonials section" id="testimonials">
    <div class="container">
      <div class="section-header">
        <h3 class="title" data-title="Qué dicen de nosotros">
          Testimonios
        </h3>
      </div>
  
      <div class="testi-content grid-2">
        <div class="column-1 reviews">
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide review">
                <i class="fas fa-quote-left quote"></i>
                <div class="rate">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>
  
                <p class="review-text">
                "Como fotógrafa profesional, siempre busco colaborar con talentos que entiendan y respeten la visión artística detrás de cada proyecto. Trabajar con JC.ai ha sido una experiencia excepcional. Su habilidad para captar la esencia de mi trabajo y traducirla en una experiencia digital única ha sido verdaderamente invaluable."
                </p>
  
                <div class="review-info">
                  <h3 class="review-name">Natalia Martinez</h3>
                  <h5 class="review-job">Fotógrafa, Bogotá</h5>
                </div>
              </div>
  
              <div class="swiper-slide review">
                <i class="fas fa-quote-left quote"></i>
                <div class="rate">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>
  
                <p class="review-text">
                "La combinación de su destreza técnica y su profundo entendimiento del diseño y la estética ha elevado mis proyectos a un nuevo nivel. Cada vez que he tenido el privilegio de trabajar con JC.ai, he encontrado un socio creativo confiable, comprometido con la excelencia y la innovación."
                </p>
  
                <div class="review-info">
                  <h3 class="review-name">Sebastian Montes</h3>
                  <h5 class="review-job">CEO, Empresa</h5>
                </div>
              </div>
            </div>
  
            <div class="review-nav swiper-button-prev">
              <i class="fas fa-long-arrow-alt-left"></i>
            </div>
            <div class="review-nav swiper-button-next">
              <i class="fas fa-long-arrow-alt-right"></i>
            </div>
          </div>
        </div>
  
        <div class="column-2 image">
          <img src="/src/app/img/testi.svg" alt="" class="img-element" />
        </div>
      </div>
    </div>
  </section>