<section class="contact" id="contact">
    <iframe src="https://www.google.com/maps/place/Cross+Way+Center/@4.079425,-76.2027118,15z/data=!4m6!3m5!1s0x8e39c5b7b4fc8563:0x9c8bfa0db2efbe3a!8m2!3d4.079425!4d-76.2027118!16s%2Fg%2F11c0q11v1k?entry=ttu&g_ep=EgoyMDI0MTAxNi4wIKXMDSoASAFQAw%3D%3D" 
    width="100%" 
    height="350" 
    style="border:0;" 
    allowfullscreen="" 
    loading="lazy" 
    referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
    <div class="container">
      <div class="contact-box">
        <div class="contact-info">
          <h3 class="title">Ponte en contacto con nosotros</h3>
          <p class="text">
          ¡Estamos emocionados de escuchar de ti! Si tienes preguntas, comentarios o estás listo para comenzar con tus clases, no dudes en contactarnos. Estamos aquí para ayudarte en lo que necesites.
          </p>
          <div class="information-wrap">
            <div class="information">
              <div class="contact-icon">
                <i class="fas fa-map-marker-alt"></i>
              </div>
              <p class="info-text">Tuluá, Colombia</p>
            </div>
  
            <div class="information">
              <div class="contact-icon">
                <i class="fas fa-paper-plane"></i>
              </div>
              <p class="info-text">c </p>
            </div>
  
            <div class="information">
              <div class="contact-icon">
                <i class="fas fa-phone-alt"></i>
              </div>
              <p class="info-text">+57 317 3798422</p>
            </div>
          </div>
        </div>
  
        <form class="contact-form">
          <h3 class="title">Contáctanos</h3>
          <div class="row">
            <input type="text" class="contact-input" placeholder="Nombre" />
            <input
              type="text"
              class="contact-input"
              placeholder="Apellido"
            />
          </div>
  
          <div class="row">
            <input
              type="text"
              class="contact-input"
              placeholder="Celular"
            />
            <input type="email" class="contact-input" placeholder="Email" />
          </div>
  
          <div class="row">
            <textarea
              name="message"
              class="contact-input textarea"
              placeholder="Mensaje"
            ></textarea>
          </div>
          <a href="#" class="btn">Enviar</a>
        </form>
      </div>
    </div>
  </section>
  