<section class="services section" id="services">
    <div class="container">
      <div class="section header">
        <h3 class="title" data-title="Lo que hacemos">Servicios</h3>
        <p class="text">
            Cross Way Center ofrece tres programas de inglés adaptados a diferentes edades y niveles de aprendizaje, diseñados para brindar una formación integral y progresiva en el idioma. A continuación, se detalla cada uno de los programas:
        </p>
    </div>
    <div class="cards">
      <div class="card" data-card="KIDS">
        <div class="card-content z-index">
          <img src="/src/app/img/design-icon.svg" class="icon" alt="icono ui/ux" />
          <h3 class="title-sm">Programa de inglés para niños (Kids)</h3>
          <p class="text">
            Este programa está orientado a los estudiantes más jóvenes, con el objetivo de introducirlos al inglés de manera divertida y efectiva. El curso consta de 6 niveles en los cuales los niños adquieren un conocimiento básico del idioma que les permite alcanzar un nivel aproximado entre A1 y A2 del Marco Común Europeo de Referencia (MCER). A lo largo del programa, se trabajan las cuatro habilidades lingüísticas (hablar, escuchar, leer y escribir) mediante actividades lúdicas y educativas que fomentan el interés y la motivación por aprender.
          </p>
          <a href="/contacto" class="btn small">Consulte</a>
        </div>
      </div>
  
        <div class="card" data-card="ADULTS">
          <div class="card-content z-index">
            <img src="/src/app/img/code-icon.svg" class="icon" alt="icono desarrollo web" />
            <h3 class="title-sm">Programa Basico para Adultos</h3>
            <p class="text">
            El programa básico está diseñado para adultos que desean comenzar su aprendizaje del inglés o mejorar sus habilidades desde un nivel principiante. Este curso abarca 12 niveles, comenzando en A1 y llegando hasta B1 del MCER. Durante el programa, los estudiantes desarrollan competencias para comunicarse de manera efectiva en situaciones cotidianas, tanto en contextos personales como profesionales. Los niveles se estructuran de forma que el aprendizaje sea gradual y sistemático, permitiendo a los estudiantes consolidar sus conocimientos y avanzar con confianza.
            </p>
            <a href="/contacto" class="btn small">Consulte</a>
          </div>
        </div>
  
        <div class="card" data-card="ADULTS">
          <div class="card-content z-index">
            <img src="/src/app/img/app-icon.svg" class="icon" alt="icono app" />
            <h3 class="title-sm">Programa Avanzado para Adultos</h3>
            <p class="text">
            Para aquellos que ya tienen una base sólida en el idioma, el programa avanzado ofrece 8 niveles destinados a perfeccionar las habilidades lingüísticas y alcanzar un dominio más profundo del inglés. Los estudiantes que cursan este programa pueden llegar a niveles de B2 o C1, dependiendo de la dedicación y esfuerzo que pongan en su aprendizaje. El enfoque de este programa es el uso avanzado del idioma en contextos académicos, laborales y sociales, con énfasis en la fluidez, la precisión gramatical y la capacidad de debatir temas complejos.
            </p>
            <a href="/contacto" class="btn small">Consulte</a>
          </div>
</div>
