<header>
  <div class="logo-container">
    <img src="./img/logo cwc.png" alt="Logo Cross Way Center" class="logo">
    <h1>Academia Cross Way Center</h1>
  </div>
  <nav>
    <ul>
      <li><a routerLink="/">Inicio</a></li>
      <li><a routerLink="/programas">Programas y Niveles</a></li>
      <li><a routerLink="/profesores">Profesores</a></li>
      <li><a routerLink="/testimonios">Testimonios</a></li>
      <li><a routerLink="/acerca">Acerca de</a></li>
      <li><a routerLink="/inscripcion">Inscripción</a></li>
      <li><a routerLink="/contacto">Contacto</a></li>
    </ul>
  </nav>
</header>
<!-- Contenido principal -->
<main>
  <div class="cards">
    <div class="card" data-card="mision">
      <div class="card-content z-index">
        <img src="./img/design-icon.svg" class="icon" alt="icono ui/ux" />
        <h3 class="title-sm">Misión</h3>
        <p class="text">
          Nuestra Misión es proporcionar a los estudiantes las herramientas necesarias para el óptimo aprendizaje del idioma Inglés, que le permita ser utilizado en los diferentes contextos de la vida cotidiana poniendo en práctica las cuatro habilidades básicas del lenguaje (hablar, escuchar, leer y escribir).
        </p>
      </div>
    </div>

    <div class="card" data-card="vision">
      <div class="card-content z-index">
        <img src="./img/code-icon.svg" class="icon" alt="icono desarrollo web" />
        <h3 class="title-sm">Visión</h3>
        <p class="text">
         En el año 2028 nuestra Institución brindará un servicio de Enseñanza de inglés de alta calidad quedando posicionada entre las mejores instituciones del Valle del Cauca y ofertará de manera presencial y virtual en diferentes regiones de Colombia.
        </p>
      </div>
    </div>

    <div class="card" data-card="politica">
      <div class="card-content z-index">
        <img src="./img/app-icon.svg" class="icon" alt="icono app" />
        <h3 class="title-sm">Política de Calidad</h3>
        <p class="text">
         El Instituto de Formación para el Trabajo Cross Way Center, asume por objeto la enseñanza del idioma Inglés, en el ámbito escolar, universitario y de la sociedad en general, proporcionando a sus estudiantes los conocimientos lingüísticos imprescindibles para obtener una mejor formación personal, académica y profesional, que genere la satisfacción completa de sus necesidades, basándose en la mejora continua de los procesos que conforma el Sistema de Gestión de Calidad, teniendo como soporte los valores definidos en la misión, visión y las directrices de la NTC 5555 y 5580.
        </p>
      </div>
    </div>
  </div>

  <!-- Componente que representa a la sección actual -->
  <router-outlet></router-outlet>

 
</main>

<!-- Pie de página -->
<footer>
  <div class="followme-wrap">
    <div class="followme">
      <h3>Síguenos</h3>
      <span class="footer-line"></span>
      <div class="social-media">
        <a href="https://www.facebook.com/CrossWayCenter.Co">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://www.instagram.com/cross_way_center?igsh=MTI0d3Zjdzk5MjNhNQ==">
          <i class="fab fa-instagram"></i>
        </a>
      </div>
    </div>
    <div class="back-btn-wrap">
      <a href="#" class="back-btn">
        <i class="fas fa-chevron-up"></i>
      </a>
    </div>
  </div>
  <p>© Copyright 2024 | Cross Way Center. Todos los derechos reservados.</p>
</footer>
