about section{
    .gallery {
        position: relative;
        max-width: 600px;
        margin: 0 auto;
        .gallery-image {
          width: 100%;
          height: auto;
        }
        .prev-btn,
        .next-btn {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          background-color: rgba(0, 0, 0, 0.5);
          color: white;
          border: none;
          padding: 10px;
          cursor: pointer;
          font-size: 18px;
        }
        .prev-btn {
          left: 0;
        }
        .next-btn {
          right: 0;
        }
      }
}
 
.about {
  overflow: hidden;
}

.about img {
  max-width: 600px;
}

.about .text {
  margin-top: 1rem;
}

.skills {
  margin: 1.5rem 0 2.5rem 0;
}

.skill-title {
  font-weight: 600;
  margin-bottom: 0.3rem;
}

.skill-bar {
  background-color: var(--secondary-color);
}

.skill-progress {
  background-color: var(--main-color);
}

