// Variables
$primary-color: #007bff; // Color principal
$secondary-color: #6c757d; // Color secundario
$text-color: #333; // Color del texto
$background-color: #f4f4f4; // Color de fondo
$white: #ffffff; // Color blanco
$border-radius: 5px; // Radio de borde

// Estilos generales
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: $background-color;
  color: $text-color;
}

// Estilos para el header
header {
  background-color: $primary-color;
  color: $white;
  padding: 20px 0;
  text-align: center;

  .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;

    .logo {
      width: 100px; // Ajusta el tamaño del logo
      height: auto;
      margin-right: 20px;
    }
  }

  nav {
    margin-top: 15px;

    ul {
      list-style-type: none;
      padding: 0;

      li {
        display: inline;
        margin: 0 15px;

        a {
          color: $white;
          text-decoration: none;

          &:hover {
            text-decoration: underline; // Subrayar al pasar el mouse
          }
        }
      }
    }
  }
}

// Estilos para el contenido principal
main {
  padding: 20px;

  .cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .card {
      background-color: $white;
      border: 1px solid $secondary-color;
      border-radius: $border-radius;
      padding: 15px;
      margin: 10px;
      width: 300px;

      .card-content {
        text-align: center;
      }
    }
  }
}

// Estilos para el footer
footer {
  background-color: $primary-color;
  color: $white;
  text-align: center;
  padding: 10px 0;
  position: relative;
  bottom: 0;
  width: 100%;

  .followme {
    margin-bottom: 10px;

    .social-media {
      a {
        color: $white;
        margin: 0 10px;
      }
    }
  }

  .back-btn {
    background-color: $primary-color;
    color: $white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
}
